:root {
  --bgColor: #D0F4F0;
  --yellowDark: #F4D799;
  /* --peachDark: #F6A89E; */
  --aquaDark: #8CD4CB;
  --hoverAqua: #79bab2;
  --txtColot: #33322E;
  --border: 4px solid #33322E;
  --boxShadow: 12px 12px 0px #33322E;
  --borderRadius: 24px;
  --space: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bgColor);
}

h1 {
  margin: var(--space);
  padding-bottom: var(--space);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: var(--txtColot);
  text-transform: capitalize;
  text-align: center;
  border-bottom: var(--border);
}

#app>.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  padding: var(--space);
  gap: var(--space);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.note,
.add-note {
  padding: 16px;
  height: 288px;
  border-radius: var(--borderRadius);
  border: var(--border);
}

.note {
  resize: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  box-shadow: var(--boxShadow);
}

.note:nth-of-type(odd) {
  background-color: var(--yellowDark);
}

.note:nth-of-type(even) {
  background-color: var(--aquaDark);
}

.add-note {
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aquaDark);
  color: #ffeece99;
  font-size: 120px;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.add-note:hover {
  background-color: var(--hoverAqua);
}